<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>My app Hello</title>
</head>

<body>

<h1>Hello</h1>

<h2>Enter sender information</h2>
<form method="post" action="hiName">
    <table>
        <tr>
            <td><label path="sender">Sender</label></td>
            <td><input type="text" name="sender" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>

<br>
<form method="post" action="pos">
    <table>

        <tr>
            <td colspan="2">
                <input type="submit" value="Get Positions"/>
            </td>
        </tr>
    </table>
</form>
</body>


</html>